<div class="container">
<div class="mt-4"></div>

<div class="cantones-body">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="customSelect" ></label>
                <input class="form-control" placeholder="ID Cantón" type="text"  [(ngModel)]="canton.IDCanton">
            </div>
            <div class="col-sm-3" id="cnt">
                <label for="customSelect" id="labelCanton"></label>
                <input class="form-control" placeholder="Cantón" type="text"  [(ngModel)]="canton.Canton">
            </div>
            <div class="col-sm-3">
                <label for="customSelect" >Provincia</label>
                <select  class="form-select" name="provincia"  [(ngModel)]="canton.provincia.IDProvincia">
                    <option [ngValue]="prov.IDProvincia" *ngFor="let prov of listProvincia" >
                        {{prov.Provincia}} </option>
                </select>
            </div>
            <div id="btn" class="col-sm-2">
                <button type="button" class="btn btn-secondary" (click)="saveCanton()">Guardar</button>
            </div>
        </div>

        <br>
    
        <div class="table-wrapper-scroll-y my-custom-scrollbar ">
          

           
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cantón</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cantn of listCanton" >
                        <td>{{cantn.IDCanton}}</td>
                        <td>{{cantn.Canton}}</td>
                        <td>{{cantn.provincia.Provincia}}</td>
                        <td><button type="button" name="button" data-bs-dismiss="modal"
                            class="btn btn-primary" (click)="selectCanton(cantn)"><span
                                class="oi oi-pencil"></span></button>
                            </td>
                    </tr>
                </tbody>
            </table>

        </div>
   
    </div>
</div>
</div>