<div class="mt-4"></div>

<div class="cantones-body">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-3" id="cnt">
                <label for="customSelect" id="labelCanton">Cantón</label>
                <select  class="form-select" name="canton"  [(ngModel)]="canton.Canton">
                    <option [ngValue]="can" *ngFor="let can of listCantonFiltered">
                        {{can.Canton}} </option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="customSelect" >Provincia</label>
                <select  class="form-select" name="provincia" (change)="filtrarCanton($event)" [(ngModel)]="canton.provincia">
                    <option [ngValue]="prov" *ngFor="let prov of listProvincia" >
                        {{prov.Provincia}} </option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-secondary" (click)="saveCanton()">Guardar</button>
            </div>
        </div>

        <br>
    
        <div class="table-wrapper-scroll-y my-custom-scrollbar ">
          

           
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cantón</th>
                        <th scope="col">Provincia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cantn of listCanton" >
                        <td>{{cantn.IDCanton}}</td>
                        <td>{{cantn.Canton}}</td>
                        <td>{{cantn.provincia.Provincia}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
   
    </div>
</div>
