<div class="mt-4"></div>

<div class="organizaciones-body">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-3">
                <input class="form-control" placeholder="Organización" type="text">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Zona" type="text">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Provincia" type="text">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Cantón" type="text">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Parroquia" type="text">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Tipo Organizaciones" type="text">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-secondary">Buscar</button>
            </div>
        </div>

        <br>
                   
        <div class="form-group row table-responsive ">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Organización</th>
                        <th scope="col">Zona</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Cantón</th>
                        <th scope="col">Parroquia</th>
                        <th scope="col">TipoOrganizaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orga of listOrganizacion" >
                        <td>{{orga.IDOrganizacion}}</td>
                        <td>{{orga.Organizacion}}</td>
                        <td>{{orga.Zona}}</td>
                        <td>{{orga.provincia.Provincia}}</td>
                        <td>{{orga.canton.Canton}}</td>
                        <td>{{orga.parroquia.Parroquia}}</td>
                        <td>{{orga.tipo.TipoOrganizacion}}</td>
                    </tr>
                    <!--<tr *ngFor="let org of listCantones">-->
                        <!--<td>{{org.IDOrganizacion}}</td>-->
                        <!--<td>{{org.Organizacion}}</td>-->
                        <!--<td>{{org.Zona}}</td>-->
                        <!--<td>{{org.provincia}}</td>-->
                        <!--<td>{{org.canton}}</td>-->
                        <!--<td>{{org.parroquia}}</td>-->
                        <!--<td>{{org.TipoOrganizaciones}}</td>-->
                </tbody>
            </table>

        </div>
    </div>
</div>
