<div class="container">
<div class="mt-4"></div>

<div class="organizaciones-body">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="customSelect" ></label>
                <input class="form-control" placeholder="Organización" type="text"  [(ngModel)]="organi.Organizacion">
            </div>
            <div class="col-sm-3">
                <label for="customSelect" >Zona</label>
                <input class="form-control" placeholder="Zona" type="number" [(ngModel)]="organi.Zona">
            </div>

            <div class="col-sm-3">
                <label for="customSelect" >Provincia</label>
                <select  class="form-select" name="provincia" (change)="filtrarCanton($event)" [(ngModel)]="organi.provincia.IDProvincia">
                    <option [ngValue]="prov.IDProvincia" *ngFor="let prov of listProvincia" >
                        {{prov.Provincia}} </option>
                </select>
            </div>
            <div class="col-sm-3" id="cnt">
                <label for="customSelect" id="labelCanton">Cantón</label>
                <select  class="form-select" name="canton" (change)="filtrarParroquia($event)" [(ngModel)]="organi.canton.IDCanton">
                    <option value="x" selected>-</option>
                    <option [ngValue]="can.IDCanton" *ngFor="let can of listCantonFiltered">
                        {{can.Canton}} </option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="customSelect" id="labelParroq">Parroquia</label>
                <select  class="form-select" name="parroquia" [(ngModel)]="organi.parroquia.IDParroquia">
                    <option value="x" selected>-</option>
                    <option [ngValue]="parr.IDParroquia" *ngFor="let parr of listParroquiaFiltered">
                        {{parr.Parroquia}} </option>
                </select>
            </div>


            <div class="col-sm-3">
                <label for="customSelect" id="labeTipoOrganiz">Tipo de Organizaciones</label>
                <select  class="form-select" name="tipOrganizaciones" [(ngModel)]="organi.tipo.IDTipoOrganizacion">
                    <option [ngValue]="tp.IDTipoOrganizacion" *ngFor="let tp of listTipoOrganizacion"> {{tp.TipoOrganizacion}}
                        </option>
                </select>
            </div>


            <div class="btn"  class="col-sm-2">
                <button type="button" class="btn btn-secondary"  (click)="saveOrgani()">Guardar</button>
            </div>
        </div>

        <br>

        <div class="table-wrapper-scroll-y my-custom-scrollbar ">
    <table id="cutomTableId" class=" table table-striped table-bordered table-hover">
      <thead id="cutomTableTHeadId">
        <tr id="cutomTableTHeadTrId">
            <th scope="col">ID</th>
            <th scope="col">Organización</th>
            <th scope="col">Zona</th>
            <th scope="col">Provincia</th>
            <th scope="col">Cantón</th>
            <th scope="col">Parroquia</th>
            <th scope="col">Tipo Organizaciones</th>
            <th scope="col">Modificar</th>
        </tr>
      </thead>
      <tbody id="cutomTableTBodyId">
        <tr *ngFor="let orga of listOrganizacion" >
            <td>{{orga.IDOrganizacion}}</td>
            <td>{{orga.Organizacion}}</td>
            <td>{{orga.Zona}}</td>
            <td>{{orga.provincia.Provincia}}</td>
            <td>{{orga.canton.Canton}}</td>
            <td>{{orga.parroquia.Parroquia}}</td>
            <td>{{orga.tipo.TipoOrganizacion}}</td>
            <td><button type="button" name="button" data-bs-dismiss="modal"
                class="btn btn-primary" (click)="selectModelo(orga)"><span
                    class="oi oi-pencil"></span></button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

    </div>
</div>
</div>
