<!-- <p>login works!</p> -->
<div class="container">
    <div class="m-0 row">
        <div class="col-12 mt-5">

            <h2>Acceso de cuenta</h2>
            <p class="text-muted">Iniciar sesión en su cuenta</p>
            <div class="form-group row mt-4">
                <label class="col-form-label col-md-2"><strong>Identificación:</strong></label>
                <div class="col-md-5">
                    <input class="form-control" type="text" id="input_user" name="usuario"
                        [(ngModel)]="objLogin.usuario" placeholder="Identificación" required>
                    <span class="text-danger" role="alert"><strong id="error_usuario">{{errorUser}}</strong></span>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-form-label col-md-2"><strong>Contraseña:</strong></label>
                <div class="col-md-5">
                    <input class="form-control" type="password" id="input_pwd" name="clave" [(ngModel)]="objLogin.clave"
                        placeholder="Contraseña" required>
                    <span class="text-danger" role="alert"><strong id="error_password">{{errorPwd}}</strong></span>
                </div>
            </div>

            <div class="form-actions my-4 ">
                <button class="btn btn-primary px-5" type="button" id="btn-login" (click)="login()">Acceder</button>
            </div>

            <img src="../../assets/img/mies_footer.png" id="logo_mies_foot" class="rounded float-left"
                alt="mies">
        </div>
    </div>


    <!-- <form action="">
    <h2>Acceso de cuenta</h2>
    <p class="text-muted">Iniciar sesión en su cuenta</p>
    <div class="input-group mb-0">
        <input class="form-control" type="text" id="input_user" name="usuario" value="" placeholder="Usuario" required>
    </div>
    <span class="text-danger" role="alert"><strong id="error_user"></strong></span>

    <div class="input-group mt-3">
        <input class="form-control" type="password" id="input_pwd" name="clave" value="" placeholder="Contraseña" required>
    </div>
    <span class="text-danger" role="alert"><strong id="error_password"></strong></span>

    <div class="row my-4">
        <div class="col-6">
            <button class="btn btn-primary px-4" type="button" id="btn-login" >Acceder</button>
        </div>
    </div>
    
</form> -->

    <!-- <div class="wrapper">
    <form class="form">
        <div class="w-100 pb-2">
            <h2>Iniciar sesión</h2>
        </div>
        <div class="w-100 pb-2">
            <div class="pb-1" for="">Usuario</div>
            <input type="text" formControlName="user" class="input-form">
        </div>
        <div class="w-100 pb-2">
            <div class="pb-1" for="">Contraseña</div>
            <input type="password" formControlName="clave" class="input-form">
        </div>
        <div class="w-100 pb-2">
           
        </div>
    </form>
</div> -->
</div>