<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mies Dinapen APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li *ngIf="isLogged == true" class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="formulario">Formulario</a>
          </li>
          
          <li *ngIf="isLogged == true" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configuración
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="provincia">Provincias</a></li>
              <li><a class="dropdown-item" routerLink="cantones">Cantones</a></li>
              <li><a class="dropdown-item" routerLink="parroquias">Parroquias</a></li>
              <li><a class="dropdown-item" routerLink="organizaciones">Organizaciones</a></li>
            </ul>
          </li>

          <li *ngIf="isLogged == true" class="nav-item" routerLinkActive="active">
            <button type="button" class="btn btn-sm btn-danger" (click)="logout()">Logout</button>
          </li>

        </ul>
      </div>
    </div>
  </nav>