<div class="container">

<div class="mt-4"></div>

<div class="provincia-body">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-3">
                <input class="form-control" placeholder="ID Provincia" type="text" [(ngModel)]="provi.IDProvincia">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Provincia" type="text" [(ngModel)]="provi.Provincia">
            </div>
            <div class="col-sm-2">
                <button type="button" (click)="saveProvincia()" class="btn btn-secondary">Grabar</button>
            </div>
        </div>

        <br>         
        <div class="table-wrapper-scroll-y my-custom-scrollbar ">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let provincy of listProvincia" >
                        <td>{{provincy.IDProvincia}}</td>
                        <td>{{provincy.Provincia}}</td>
                        <td><button type="button" name="button" data-bs-dismiss="modal"
                            class="btn btn-primary" (click)="selectProvincia(provincy)"><span
                                class="oi oi-pencil"></span></button>
                    </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>
