<div class="mt-4"></div>

<div class="provincia-body">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-3">
                <input class="form-control" placeholder="ID Provincia" type="text" [(ngModel)]="provi.IDProvincia">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Provincia" type="text" [(ngModel)]="provi.Provincia">
            </div>
            <div class="col-sm-2">
                <button type="button" (click)="saveParroquia()" class="btn btn-secondary">Buscar</button>
            </div>
        </div>

        <br>         
        <div class="table-wrapper-scroll-y my-custom-scrollbar ">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Provincia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let provincy of listProvincia" >
                        <td>{{provincy.IDProvincia}}</td>
                        <td>{{provincy.Provincia}}</td>
                    </tr>
                    <!--<tr *ngFor="let pr of listProvincias">-->
                        <!--<td>{{pr.IDProvincia}}</td>-->
                        <!--<td>{{pr.Provincia}}</td>-->
                        <!--<td>{{pr.IDNacionalidad}}</td>-->
                </tbody>
            </table>

        </div>
    </div>
</div>
