<div class="mt-4"></div>

<div class="parroquias-body">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="customSelect" ></label>
                <input class="form-control" placeholder="ID Parroquia" type="text"  [(ngModel)]="parroq.IDParroquia">
            </div>
            <div class="col-sm-3" id="cnt">
                <label for="customSelect" id="labelCanton"></label>
                <input class="form-control" placeholder="Parroquia" type="text"  [(ngModel)]="parroq.Parroquia">
            </div>
            <div class="col-sm-3">
                <label for="customSelect" id="labelCanton">Cantón</label>
                <select  class="form-select" name="canton"  [(ngModel)]="parroq.canton">
                    <option [ngValue]="can" *ngFor="let can of listCanton">
                        {{can.Canton}} </option>
                </select>
            </div>
            <div id="btn" class="col-sm-2">
                <button type="button" class="btn btn-secondary" (click)="saveParroquia()">Guardar</button>
            </div>
        </div>

        <br>
                   
        <div class="table-wrapper-scroll-y my-custom-scrollbar ">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Parroquia</th>
                        <th scope="col">Cantón</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parro of listParroquia" >
                        <td>{{parro.IDParroquia}}</td>
                        <td>{{parro.Parroquia}}</td>
                        <td>{{parro.canton.Canton}}</td>
                    </tr>
                    <!--<tr *ngFor="let prrq of listCantones">-->
                        <!--<td>{{prrq.IDParroquia}}</td>-->
                        <!--<td>{{prrq.Parroquia}}</td>-->
                        <!--<td>{{prrq.IDCanton}}</td>-->
                </tbody>
            </table>

        </div>
    </div>
</div>
