<div class="mt-4"></div>

<div class="parroquias-body">
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-3">
                <input class="form-control" placeholder="Parroquia" type="text">
            </div>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Cantón" type="text">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-secondary">Buscar</button>
            </div>
        </div>

        <br>
                   
        <div class="form-group row table-responsive ">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Parroquia</th>
                        <th scope="col">Cantón</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parro of listParroquia" >
                        <td>{{parro.IDParroquia}}</td>
                        <td>{{parro.Parroquia}}</td>
                        <td>{{parro.canton.Canton}}</td>
                    </tr>
                    <!--<tr *ngFor="let prrq of listCantones">-->
                        <!--<td>{{prrq.IDParroquia}}</td>-->
                        <!--<td>{{prrq.Parroquia}}</td>-->
                        <!--<td>{{prrq.IDCanton}}</td>-->
                </tbody>
            </table>

        </div>
    </div>
</div>
