<div class="modal fade modal-lg" id="modalBusqueda" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar NNA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-1">Primer Apellido</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text">
                        </div>
                        <label class="col-form-label col-sm-1">Segundo Apellido</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text">
                        </div>
                        <label class="col-form-label col-sm-2">Identificación</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#modalPersona">Buscar</button>
                        </div>
                    </div>

                    <br>
                    
                               
                    <div class="form-group row">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Identificacion</th>
                                    <th scope="col">Parroquia</th>
                                    <th scope="col">-</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td><button type="button" name="button" class="btn btn-primary"><span class="oi oi-pencil"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>