<div class="modal fade modal-lg" id="modalBusqueda" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar NNA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <input class="form-control" placeholder="Primer Apellido" type="text" [(ngModel)]="apellido1">
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control" placeholder="Primer Nombre" type="text" [(ngModel)]="nombre1">
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control" placeholder="Identificación" type="text" [(ngModel)]="identificacion">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-secondary" (click)="buscarPersona()" >Buscar</button>
                        </div>
                    </div>

                    <br>
                               
                    <div class="form-group row">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Identificacion</th>
                                    <th scope="col">Fecha Nac</th>
                                    <th scope="col">-</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of listPersonas">
                                    <td>{{p.IDPersona}}</td>
                                    <td>{{p.Apellido1+ " "+p.Apellido2}}</td>
                                    <td>{{p.Nombre1 + " "+p.Nombre2}}</td>
                                    <td>{{p.Cedula}}</td>
                                    <td>{{p.FechaNacim}}</td>
                                    <td><button type="button" name="button" data-bs-dismiss="modal"  class="btn btn-primary" (click)="selectPersona(p)"><span class="oi oi-pencil"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>