<div class="modal fade modal-lg" id="modalPersona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos NNA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="ape1" class="col-form-label col-sm-2">Apellido 1 *</label>
                        <div class="col-sm-4">
                            <input id="ape1" class="form-control" placeholder="Primer Apellido" type="text"
                                [(ngModel)]="person.Apellido1">
                        </div>
                        <label for="ape2" class="col-form-label col-sm-2">Apellido 2</label>
                        <div class="col-sm-4">
                            <input id="ape2" class="form-control" placeholder="Segundo Apellido" type="text"
                                [(ngModel)]="person.Apellido2">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="nom1" class="col-form-label col-sm-2">Nombre 1 *</label>
                        <div class="col-sm-4">
                            <input id="nom1" class="form-control" placeholder="Primer Nombre" type="text"
                                [(ngModel)]="person.Nombre1">
                        </div>
                        <label for="nom2" class="col-form-label col-sm-2">Nombre 2</label>
                        <div class="col-sm-4">
                            <input id="nom2" class="form-control" placeholder="Segundo Nombre" type="text"
                                [(ngModel)]="person.Nombre2">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Doc. identificación *</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" [(ngModel)]="person.Cedula">
                        </div>
                        <label for="nombre" class="col-form-label col-sm-3">Sexo *</label>
                        <div class="col-sm-3">
                            <select class="form-select"  name="sexo" [(ngModel)]="person.genero">
                                <option [ngValue]="act"
                                    *ngFor="let act of oneList?.get('gen')">{{act['Genero']}}</option>

                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-3">Nacionalidad</label>
                        <div class="col-sm-3">
                            <select class="form-select" name="nacionalidad" [(ngModel)]="person.nacionalidad">
                                <option [ngValue]="act" 
                                    *ngFor="let act of oneList?.get('nac')">{{act['Nacionalidad']}}</option>

                            </select>
                        </div>
                        <label for="apellido" class="col-form-label col-sm-3">Grupo etário</label>
                        <div class="col-sm-3">
                            <select class="form-select" name="GrupoEtario" [(ngModel)]="person.GrupoEtario">
                                <option value="05-11 años">05-11 años</option>
                                <option value="12-14 años">12-14 años</option>
                                <option value="15-17 años">15-17 años</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Fecha de nacimiento</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="fechaNacim"  
                            type="date" [(ngModel)]="person.FechaNacim">
                        </div>
                        <label class="col-form-label col-sm-3">Edad</label>
                        <div class="col-sm-3">
                            <input class="form-control" readonly type="text" [value]="calcularEdad()">
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Provincia</label>
                        <div class="col-sm-3">
                            <select  class="form-select" name="provincia" (change)="filtrarCanton($event)" [(ngModel)]="person.provincia">
                                <option [ngValue]="prov" *ngFor="let prov of listProvincia" >
                                    {{prov.Provincia}} </option>
                            </select>                       
                         </div>
                                                
                        <label for="email" class="col-form-label col-sm-3">Cantón</label>
                        <div class="col-sm-3">
                            <select  class="form-select" name="canton" (change)="filtrarParroquia($event)" [(ngModel)]="person.canton">
                                <option [ngValue]="can" *ngFor="let can of listCantonFiltered">
                                    {{can.Canton}} </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        
                            <label for="email" class="col-form-label col-sm-3">Parroquia</label>
                        <div class="col-sm-6">
                            <select  class="form-select" name="parroquia" [(ngModel)]="person.parroquia">
                                <option [ngValue]="parr" *ngFor="let parr of listParroquiaFiltered">
                                    {{parr.Parroquia}} </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        
                        <label for="email" class="col-form-label col-sm-3">Barrio</label>
                    <div class="col-sm-6">
                        <input class="form-control" name="Barrio"  
                            type="text" [(ngModel)]="person.Barrio">
                    </div>
                </div>

                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Etnia</label>
                        <div class="col-sm-3">
                            <select class="form-select" name="estadocivil" [(ngModel)]="person.etnia">
                                <option [ngValue]="act" *ngFor="let act of oneList?.get('etn')">
                                    {{act['Etnia']}}</option>
                            </select>
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Estado Civil</label>
                        <div class="col-sm-3">
                            <select class="form-select" name="estadocivil" [(ngModel)]="person.estadoCivil">
                                <option [ngValue]="act" 
                                    *ngFor="let act of oneList?.get('eci')">{{act['EstadoCivil']}}</option>

                            </select>
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Tiene Discapacidad</label>
                        <div class="col-sm-3">
                            <select  class="form-select" name="discapacidad" [(ngModel)]="person.discapacidad">
                                <option [ngValue]="act"
                                    *ngFor="let act of oneList.get('dis')">{{act['Discapacidad']}}</option>
                            </select>  
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Nivel Discapacidad</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="number" min="0" max="5" name="nivelDiscapacidad" [(ngModel)]="person.DiscapacidadNivel">
                        </div>
                        <br>
                        <br>
                        <hr size="2px" color="black" />
                        <br>
                        <h4>Información de Familiar en abordaje</h4>
                        <br>
                        <br>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="ape1" class="col-form-label col-sm-2">Apellido:</label>
                                <div class="col-sm-4">
                                    <input id="ape1" class="form-control" placeholder="Primer Apellido" type="text"
                                        [(ngModel)]="person.NombreFamiliar">
                                </div>
                                <label for="ape2" class="col-form-label col-sm-2">Nombre:</label>
                                <div class="col-sm-4">
                                    <input id="ape2" class="form-control" placeholder="Primer Nombre" type="text"
                                        [(ngModel)]="person.ApellidoFamiliar">
                                </div>
                            </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="ape1" class="col-form-label col-sm-2">Identificacion del Familiar:</label>
                        <div class="col-sm-4">
                            <input id="ape1" class="form-control" placeholder="" type="text"
                                [(ngModel)]="person.IdentificacionFamiliar">
                        </div>
                        <label for="ape2" class="col-form-label col-sm-2">Parentezco:</label>
                        <div class="col-sm-4">
                            <input id="ape2" class="form-control" placeholder="Ej:Padre" type="text"
                                [(ngModel)]="person.ParentezcoNNA">
                        </div>
                    </div>
        </div>
    </div>
    <div>
        <div class="modal-body">
            <div class="card-body">
                <div class="form-group row">
                    <label for="ape1" class="col-form-label col-sm-2">Numero Celular ☎:</label>
                    <div class="col-sm-4">
                        <input id="ape1" class="form-control" placeholder="+593..." type="text"
                            [(ngModel)]="person.NumFamiliar">
                    </div>
                </div>
            </div>
        </div>
    </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="savePerson()">Guardar</button>
            </div>
        </div>
    </div>
    
</div>
