<div class="mt-4"></div>

<div class="row">
    <div class="col-12">
        <div class="row card bg-light text-dark">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <input class="form-control" name="idSearch" placeholder="No. Identificacion" type="text">
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Buscar Persona</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (se debe clicar el boton de arriba para que se muestre) -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datos NNA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

<br>

<div class="card bg-light text-dark">
    <div class="card-header">FICHA DE OBSERVARCIÓN Y ABORDAJE
    </div>
</div>
<div class="mt-4"></div>
<form #clienteForm="ngForm">




    <!--FILA 1 -->
    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Información organización cooperante
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Organización Cooperante</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="organizacion"
                                [(ngModel)]="organizacion" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="org" *ngFor="let org of listOrganizaciones">{{org.Organizacion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Zona</label>
                        <div class="col-sm-6">
                            <input   disabled class="form-control"  name="zona"  [value]="organizacion.Zona" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Provincia</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="provincia" [value]="organizacion.provincia.Provincia" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Cantón</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="canton" [value]="organizacion.canton.Canton" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Distrito</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Tipo de Organizacion</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="TipoOrganizacion" [value]="organizacion.tipo.TipoOrganizacion" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4"></div>
    <div class="card bg-light text-dark">
        <div class="card-header">OBSERVACIÓN</div>
    </div>
    <div class="mt-4"></div>

    <!------------------------------- FILA 2 -------------------->
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Datos de personas observadas
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Sexo</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Se encuentra</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="1">Solo</option>
                                <option value="2">En Grupo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2da columna-->
        <div class="col-sm-6 col-md-4">
            <div class="row card bg-light text-dark">
                <div class="card-header">Grupo etáreo
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Discapacidad</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="notiene">No Tiene</option>
                                <option value="sitiene">Tiene</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Años</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="5-11">05-11 años</option>
                                <option value="5-11">12-14 años</option>
                                <option value="5-11">15-17 años</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3ra columna-->
        <div class="col-md-5 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Topología de la actividad
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-4">Actividad</label>
                        <div class="col-sm-8">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDTipoActividad']" *ngFor="let act of oneList.get('act')">{{act['TipoActividad']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="selectExtra"></div>
                        <div class="col-sm-6">
                            <button type="button" (click)="addNuevoSelect()" class="btn btn-secondary">+</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------- FILA 3 -------------------->


    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Fisionomía
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Cabello Color</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDColorCabello']" *ngFor="let act of oneList.get('cac')">{{act['ColorCabello']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Cabello Tipo</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDCabelloTipo']" *ngFor="let act of oneList.get('cat')">{{act['CabelloTipo']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Contextura</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDContextura']" *ngFor="let act of oneList.get('cnt')">{{act['Contextura']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Estatura</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDEstatura']" *ngFor="let act of oneList.get('eta')">{{act['Estatura']}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2da columna-->
        <div class="ccol-sm-6 col-md-4">
            <div class="row card bg-light text-dark">
                <div class="card-header">Riesgos para el facilitador en aplicar el abordaje
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Riesgos</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="notiene">Persona Agresiva</option>
                                <option value="sitiene">Presunta víctima de algún delito (trata/explotación u otro)
                                </option>
                                <option value="sitiene">Consumo de alcohol</option>
                                <option value="sitiene">Consumo de drogas</option>
                                <option value="sitiene">Trastornos mentales</option>
                                <option value="sitiene">Otros</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-6">Años</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="5-11">05-11 años</option>
                                <option value="5-11">12-14 años</option>
                                <option value="5-11">15-17 años</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-form-label col-sm-12"></div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 3ra columna-->
        <div class="col-sm-6 col-md-5">
            <div class="row card bg-light text-dark">
                <div class="card-header">Derivaciones y acciones
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-3">Acción</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="" cols="30" rows="3"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mt-4"></div>
    <div class="card bg-light text-dark">
        <div class="card-header">ABORDAJE</div>
    </div>
    <div class="mt-4"></div>
    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Croquis del lugar donde se observó a la NNA
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-primary">Cargar Archivo</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Datos del NNA identificado
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Nombres y Apellidos</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text">
                        </div>
                        <label class="col-form-label col-sm-3">Doc. identificación</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text">
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-1">Sexo</label>
                        <div class="col-sm-2">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDGenero']" *ngFor="let act of oneList.get('gen')">{{act['Genero']}}</option>

                            </select>
                        </div>

                        <label for="nombre" class="col-form-label col-sm-2">Nacionalidad</label>
                        <div class="col-sm-2">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDNacionalidad']" *ngFor="let act of oneList.get('nac')">{{act['Nacionalidad']}}</option>

                            </select>
                        </div>
                        <label class="col-form-label col-sm-2">Estatus migratorio</label>
                        <div class="col-sm-3">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="act"> Pasaporte</option>
                                <option value="act"> Documento de refugio</option>
                                <option value="act"> Visa MERCOSUR</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Fecha de nacimiento</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text">
                        </div>
                        <label class="col-form-label col-sm-3">Edad</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text">
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Provincia</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="provincia" [value]="organizacion.provincia.Provincia" type="text">
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Cantón</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="canton" [value]="organizacion.canton.Canton" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Parroquia</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" type="text">
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Barrio</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    
                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Etnia</label>
                        <div class="col-sm-3">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDEtnia']" *ngFor="let act of oneList.get('etn')">{{act['Etnia']}}</option>
                            </select>                        </div>
                        <label for="email" class="col-form-label col-sm-3">Estado Civil</label>
                        <div class="col-sm-3">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDEstadoCivil']" *ngFor="let act of oneList.get('eci')">{{act['EstadoCivil']}}</option>
                            </select>                          </div>
                    </div>
                    
                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Tiene Discapacidad</label>
                        <div class="form-check form-switch col-sm-3">
                            <input class="form-check-input" type="checkbox" id="tieneDiscpacidadCheck">
                          </div>
                        <label for="email" class="col-form-label col-sm-3">Tipo Discapacidad</label>
                        <div class="col-sm-3">
                            <select disabled class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="act" [value]="act['IDDiscapacidad']" *ngFor="let act of oneList.get('dis')">{{act['Discapacidad']}}</option>
                            </select>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>