<div class="container">

<div class="mt-4"></div>

<div class="row">
    <div class="col-12">
        <div class="row card bg-light text-dark">
            <div class="card-body">
                <div class="form-group row">
                   
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modalIntervencion" title="Cargar Intervencion de la app movil">Cargar Intervención</button>
                    </div>
                  
                    <div class="col-sm-3">
                        <input class="form-control" disabled type="text" [value]="nombreCompleto">
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" disabled type="text" [value]="intervencion.persona?.Cedula">
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#confirmSaveModal" title="Guardar intervención"><span class="oi oi-box"></span></button>
                    </div>
                    Intervencion: {{intervencion.IDIntervencion}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmSaveModal" tabindex="-1" aria-labelledby="confirmSaveModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro que desea guardar la intervención?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveIntervencion()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal (se debe clicar el boton de arriba para que se muestre) -->
<app-modal-busqueda [oneList]="oneList" ></app-modal-busqueda> <!-- Input Componente Padre a Hijo -->
<app-modal-incidencia></app-modal-incidencia>

<br>

<div class="card bg-light text-dark">
    <div class="card-header">FICHA DE OBSERVARCIÓN Y ABORDAJE - <strong style="color:blue"> {{intervencion.FechaRegistro}}</strong></div>
    <div class="card-body">

        <div *ngIf="intervencion.IDIntervencion == undefined || intervencion.IDIntervencion == null">
            <div class="d-flex justify-content-center">
                <div class="text-secondary">Sin Intervención seleccionada</div>
            </div>
        </div>

        <div *ngIf="intervencion.IDIntervencion != undefined || intervencion.IDIntervencion != null">

            <!-- Sección Fotos -->
            <div class="row pb-4">
                <h6 class="pb-1">Foto del Intervenido</h6>
                <!-- Si no existe foto en el registro de Persona -->
                <div *ngIf="!fotoPersona">
                    <div class="d-flex justify-content-center">
                        <div class="text-secondary">No existe foto del intervenido</div>
                    </div>
                </div>
                <!-- Si existe registro de persona -->
                <div *ngIf="fotoPersona">
                    <div class="d-flex flex-wrap">
                        <div class="card mx-2 px-2 py-1">
                            <img src="{{fotoPersona}}" style="height: 150px;">
                        </div>
                    </div>
                </div>

                <!-- Input Image from directory -->
                <div class="pt-3">
                    <input #file type="file" accept='image/*' (change)="openImage(file.files)" />
                    <div *ngIf="imgBase64Encode != undefined || imgBase64Encode != null" class="py-2">
                        <button type="button" class="btn btn-primary" (click)="uploadImage()">{{ fotoPersona ? 'Actualizar Foto' : 'Registrar Foto' }}</button>
                    </div>
                </div>

            </div>

            <!-- Linea Separador -->
            <hr>
            <!-- Si no existen cargados fotos y audios de intervencion,mostrar mensaje (FOTOS Y AUDIOS)-->
            <div *ngIf="fotos == undefined && audios == undefined" class="pb-4">
                <h6>Fotos y Audios de Intervención</h6>
                <div class="d-flex justify-content-center">
                    <div class="text-secondary">Sin recursos de Intervención</div>
                </div>
            </div>

            <!-- FOTOS DE INTERVENCION -->
            <!-- Si existe datos devueltos en la variable fotos, recorrer arreglo-->
            <div *ngIf="fotos">
                <div class="row pb-4">
                    <h6 class="pb-1">Fotos de Intervención</h6>
                    <!-- Si no existen datos en el arreglo fotos -->
                    <div *ngIf="fotos.length==0">
                        <div class="text-secondary">No existen fotos</div>
                    </div>
                    <div *ngIf="fotos.length>0">
                        <div class="d-flex flex-wrap">
                            <!-- Recorrer arreglo de fotos -->
                            <div *ngFor="let foto of fotos">
                                <div class="card mx-2 px-2 py-1">
                                    <!-- Cargar url ubicada la foto -->
                                    <img src="{{ foto.FotoIncidente }}" style="height: 150px;">
                                    <!-- Mostrar descripción de la foto (fecha de registro) -->
                                    <div class="car-body-wrapper cards-body pt-2">
                                        <h6 class="card-subtitle">{{ foto.FotoIncidente.split('/').pop() }}</h6>
                                        <p class="card-text text-secondary">Registrado el {{ foto.FechaRegistro }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- AUDIOS DE INTERVENCION -->
            <!-- Si existe audios devueltos en la variable fotos, recorrer arreglo-->
            <div *ngIf="audios">
                <div class="row-pb-4">
                    <h6 class="pb-1">Audios de Intervención</h6>
                    <!-- Si no existen datos en el arreglo audios -->
                    <div *ngIf="audios.length==0">
                        <div class="text-secondary">No existen audios</div>
                    </div>
                    <div *ngIf="audios.length>0">
                        <div class="d-flex flex-wrap">
                            <!-- Recorrer arreglo de audios -->
                            <!--div *ngFor="let audio of audios">
                                <div class="card mx-2 px-2 py-1">
                                    <audio controls src="{{ audio.Audio }}" type="audio/mp3">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <div class="car-body-wrapper cards-body pt-2">
                                        <p class="card-text text-secondary">Registrado el {{ audio.FechaRegistro }}</p>
                                    </div>
                                </div>
                            </div-->
                            <div *ngFor="let audio of audios">
                                <a [href]="audio.Audio" download='file_name' target="_blank">  {{audios.indexOf(audio)+1}} ->  Audio Intervención:
                                    {{ audio.Audio | slice: audio.Audio.indexOf(audio.IDIntervencion.toString()) :audio.Audio.length }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="mt-4"></div>

<!--<div style="text-align:center;">
    <table class="table">
        <tr>
            <th>Foto Del Intervenido</th>
            <th>Foto</th>
            <th>Audio Del Intervenido</th>
        </tr>
        <tr>
            <th>
                <div *ngFor="let foto of fotos; let ima=first">--><!--listPersonas-->
                    <!--<img *ngIf= "ima" height="150px" width="100px" src="{{foto.FotoIncidente}}">--> <!--foto.Fotos_Personas-->
                       <!--<a [href]="foto.FotoIncidente" target="_blank" >Foto Intervención: {{fotos.indexOf(foto)+1}}</a>-->
                <!--</div>
            </th>
            <th>
                <div *ngFor="let audio of audios">
                    <a class="btn btn-primary" href="audio.Audio.mp3" role="button" download='audio.Audio' target="_blank">Descargar Audio</a>
                </div>
            </th> 
        </tr>
    </table>
</div>-->

<!--
<div *ngFor="let foto of fotos; let ima=first">
    -->
    <!--<a [href]="foto.FotoIncidente" target="_blank" >Foto Intervención: {{fotos.indexOf(foto)+1}}</a>-->
   <!-- <img *ngIf= "ima" height="150px" width="100px" src="{{foto.FotoIncidente}}">
</div>


-->
<div class="mt-4"></div>


<form #clienteForm="ngForm">
    <!--FILA 1 -->
    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Información organización cooperante
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Organización Cooperante</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="organizacion" [(ngModel)]="intervencion.organizacion"
                                aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="org" *ngFor="let org of listOrganizaciones">{{org.Organizacion}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Zona</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="zona" [(ngModel)]="intervencion.organizacion.Zona" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Provincia</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="provincia"
                            [(ngModel)]="intervencion.organizacion.provincia.Provincia" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Cantón</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="canton" [(ngModel)]="intervencion.organizacion.canton.Canton"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Parroquia</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="arroquia" type="text" [(ngModel)]="intervencion.organizacion.parroquia.Parroquia">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Tipo de Organizacion</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="TipoOrganizacion"
                            [(ngModel)]="intervencion.organizacion.tipo.TipoOrganizacion" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4"></div>
    <div class="card bg-light text-dark">
        <div class="card-header">OBSERVACIÓN </div>
    </div>
    <div class="mt-4"></div>

    <!------------------------------- FILA 2 -------------------->
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Datos de personas observadas
                </div>
                <div class="card-body">
                    
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">N. personas en grupo</label>
                        <div class="col-sm-6">
                                <input type="number" class="form-control" name="numPerGrupo" [(ngModel)]="intervencion.NumPerGrupo"
                                 id="floatingInput" min="0" max="20">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2da columna-->
        <div class="col-sm-6 col-md-4">
            <div class="row card bg-light text-dark">
                <div class="card-header">Grupo etário
                </div>
                <div class="card-body">
                    
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-3">Grupo etário</label>
                        <div class="col-sm-8">
                            <input type="text" disabled class="form-control" name="GrupoEtario" [(ngModel)]="intervencion.persona.GrupoEtario">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3ra columna-->
        <div class="col-md-5 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Topología de la actividad
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <mat-form-field appearance="fill">
                            <mat-label>Actividades</mat-label>
                            <mat-select [(value)]="selectActividadesIds" multiple>
                              <mat-option *ngFor="let act of  oneList.get('act')" [value]="act['IDTipoActividad']">{{act['TipoActividad']}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!------------------------------- FILA 3 -------------------->


    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Fisionomía
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Cabello Color</label>
                        <div class="col-sm-6">
                            <select class="form-select"  name="cabelloColor" [(ngModel)]="intervencion.persona.cabelloColor.IDColorCabello">
                                <option [value]="act['IDColorCabello']"
                                    *ngFor="let act of oneList.get('cac')">{{act['ColorCabello']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Cabello Tipo</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="cabelloTipo" [(ngModel)]="intervencion.persona.cabelloTipo.IDCabelloTipo">
                                <option [value]="act['IDCabelloTipo']"
                                    *ngFor="let act of oneList.get('cat')">{{act['CabelloTipo']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Contextura</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="contextura" [(ngModel)]="intervencion.persona.contextura.IDContextura">
                                <option [value]="act['IDContextura']"
                                    *ngFor="let act of oneList.get('cnt')">{{act['Contextura']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Estatura</label>
                        <div class="col-sm-6">
                            <select class="form-select"  name="Estatura" [(ngModel)]="intervencion.persona.estatura.IDEstatura">
                                <option  [value]="act['IDEstatura']"
                                    *ngFor="let act of oneList.get('eta')">{{act['Estatura']}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2da columna-->
        <div class="ccol-sm-6 col-md-4">
            <div class="row card bg-light text-dark">
                <div class="card-header">Riesgos para el facilitador en aplicar el abordaje
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-5">Riesgos</label>
                        <div class="col-sm-7">  
                            <select class="form-select"  name="IDCondicion" [(ngModel)]="intervencion.IDCondicion">
                                <option  [value]="act['IDCondicion']"
                                    *ngFor="let act of oneList.get('con')">{{act['Condicion']}}</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-5">Circunstancias</label>
                        <div class="col-sm-7">  
                            <select class="form-select" name="IDCircunstancia"  [(ngModel)]="intervencion.IDCircunstancia">
                                <option  [value]="act['IDCircunstancia']"
                                    *ngFor="let act of oneList.get('cir')">{{act['Circunstancia']}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3ra columna-->
        <div class="col-sm-6 col-md-5">
            <div class="row card bg-light text-dark">
                <div class="card-header">Derivaciones y acciones</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-3">Acción</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="DerivEspecifi" [(ngModel)]="intervencion.DerivEspecifi" cols="30" rows="3"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mt-4"></div>
        <div class="card bg-light text-dark">
            <div class="card-header">ABORDAJE</div>
        </div>
    </div>

    <div class="mt-4"></div>
    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Croquis del lugar donde se observó a la NNA
                </div>
                <div class="card-body">
                    Lugar Intervención: <a [href]="linkMapa" target="_blank">{{linkMapa}}</a>
                    <hr>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Dirección de Intervención</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" placeholder="Ingrese Dirección" name="DireccionIntervencion" [(ngModel)]="intervencion.DireccionIntervencion" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Datos del NNA identificado
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Nombres y Apellidos</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" type="text" [value]="nombreCompleto">
                        </div>
                        <label class="col-form-label col-sm-3">Doc. identificación</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" type="text" [value]="intervencion.persona?.Cedula">
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-1">Sexo</label>
                        <div class="col-sm-2">
                            <select disabled class="form-select"  name="IDGenero" [(ngModel)]="intervencion.persona.genero.IDGenero">
                                <option [value]="act['IDGenero']"
                                    *ngFor="let act of oneList.get('gen')">{{act['Genero']}}</option>

                            </select>
                        </div>

                        <label for="nombre" class="col-form-label col-sm-2">Nacionalidad</label>
                        <div class="col-sm-3">
                            <select disabled class="form-select" name="nacionalidad" [(ngModel)]="intervencion.persona.nacionalidad.IDNacionalidad">
                                <option [value]="act['IDNacionalidad']" 
                                    *ngFor="let act of oneList.get('nac')">{{act['Nacionalidad']}}</option>

                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Fecha de nacimiento</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="fechaNacim"  type="date" pattern="\d{4}-\d{2}-\d{2}"
                            [(ngModel)]="intervencion.persona.FechaNacim">
                        </div>
                        <label class="col-form-label col-sm-3">Edad</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" readonly type="text" [value]="calcularEdad()">
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Provincia</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="provinciaPersona"
                                type="text" [value]="intervencion.persona?.provincia?.Provincia">
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Cantón</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="canton" [value]="intervencion.persona?.canton?.Canton"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Parroquia</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="parroquiaper" type="text" [value]="intervencion.persona?.parroquia?.Parroquia">
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Barrio</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" type="text" name="Barrio" [(ngModel)]="intervencion.persona.Barrio" >
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Etnia</label>
                        <div class="col-sm-3">
                            <select disabled class="form-select" name="etnia" [(ngModel)]="intervencion.persona.etnia.IDEtnia">
                                <option [value]="act['IDEtnia']" *ngFor="let act of oneList?.get('etn')">
                                    {{act['Etnia']}}</option>
                            </select>
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Estado Civil</label>
                        <div class="col-sm-3">
                            <select disabled class="form-select" name="estadoCivil" [(ngModel)]="intervencion.persona.estadoCivil.IDEstadoCivil">
                                <option [value]="act['IDEstadoCivil']" 
                                    *ngFor="let act of oneList.get('eci')">{{act['EstadoCivil']}}</option>

                            </select>
                            
                        </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">¿Tiene Discapacidad?</label>
                        <div class="form-check form-switch col-sm-3">
                            <select  disabled class="form-select" name="discapacidad" [(ngModel)]="intervencion.persona.discapacidad.IDDiscapacidad">
                                <option [value]="act['IDDiscapacidad']"
                                    *ngFor="let act of oneList.get('dis')">{{act['Discapacidad']}}</option>
                            </select>                        </div>
                        <label for="email" class="col-form-label col-sm-3">Nivel Discapacidad</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" type="text"  name="nivelDiscapacidad" [(ngModel)]="intervencion.persona.DiscapacidadNivel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row card bg-light text-dark">
            <div class="card-header">Información de Familiar en abordaje
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Nombre :</label>
                    <div class="col-sm-3">
                        <input disabled class="form-control" type="text" name="NombreFamiliar" [value]="intervencion.persona?.NombreFamiliar">
                    </div>
                    <label class="col-form-label col-sm-3">Apellido :</label>
                    <div class="col-sm-3">
                        <input disabled class="form-control" type="text" name="ApellidoFamiliar" [value]="intervencion.persona?.ApellidoFamiliar">
                    </div>
                <br>
                <br>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Identificacion del Familiar :</label>
                    <div class="col-sm-3">
                        <input disabled class="form-control" type="text" name="IdentificacionFamiliar" [value]="intervencion.persona?.IdentificacionFamiliar">
                    </div>
                    <label class="col-form-label col-sm-3">Parentezco :</label>
                    <div class="col-sm-3">
                        <input disabled class="form-control" type="text" name="ParentezcoNNA" [value]="intervencion.persona?.ParentezcoNNA">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Numero Celular del Familiar :</label>
                    <div class="col-sm-3">
                        <input disabled class="form-control" type="text" name="NumFamiliar" [value]="intervencion.persona?.NumFamiliar">
                    </div>
                    
            </div>
        </div>
    </div>
    </div> 
    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Situación familiar
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-3">¿Con quién vive ahora?</label>
                        <div class="col-sm-4">
                            <select class="form-select"  name="IDviveCon" [(ngModel)]="intervencion.IDViveCon">
                                <option [value]="act['IDParentezco']"
                                    *ngFor="let act of oneList.get('par')">{{act['Parentezco']}}</option>
                            </select>
                        </div>

                        <label class="col-form-label col-sm-2">No. hijos</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="NumHijos"
                                type="number" min="0" [(ngModel)]="intervencion.NumHijos">
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Datos de educación
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-1">Nivel de estudio</label>
                        <div class="col-sm-3">
                            <select class="form-select"  name="IdEstudio"  [(ngModel)]="intervencion.IDEstudio">
                                <option [value]="act['IDEstudio']"
                                *ngFor="let act of oneList.get('est')">{{act['NivelEstudio']}}</option>
                                
                            </select>
                        </div>
                        <label for="nombre" class="col-form-label col-sm-3">Si no estudia, ¿Por qué?</label>
                        <div class="col-sm-5">
                            <input class="form-control" name="NoEstudio"
                            type="text" [(ngModel)]="intervencion.NoEstudio">
                        </div>
                    </div>   
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Último año de estudios aprobados</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="UltAnioEstudio"
                                type="number" min="0" max="2030" [(ngModel)]="intervencion.UltAnioEstudio">
                        </div>
                        <label class="col-form-label col-sm-3">Nombre y dirección de Institución Educativa</label>
                        <div class="col-sm-5">
                            <input class="form-control" name="InsEduEstudio"
                                type="text" [(ngModel)]="intervencion.InsEduEstudio">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Datos de salud
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-2">¿Tiene enfermedad?</label>
                        <div class="col-sm-5">
                            <select class="form-select"  name="CondicionMedica"  [(ngModel)]="intervencion.persona.condicionMedica.IDCondicionMedica">
                                <option [value]="act['IDCondicionMedica']"
                                *ngFor="let act of oneList.get('com')">{{act['CondicionMedica']}}</option>
                                
                            </select>
                        </div>
                        <label for="nombre" class="col-form-label col-sm-1">¿Cuál?</label>
                        <div class="col-sm-4">
                            <input class="form-control" name="NoEstudio"
                            type="text" [(ngModel)]="intervencion.persona.Enfermedad">
                        </div>
                        <br/>
                    </div>   
                    <br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">¿Dónde recibe atención médica?</label>
                        <div class="col-sm-6">
                            <input class="form-control" name="LugarAtencionMedica"
                                type="text" [(ngModel)]="intervencion.persona.LugarAtencionMedica">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Actividad Laboral
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-2">Calle donde labora</label>
                        <div class="col-sm-6">
                            <input class="form-control" name="DireccionCallePrincial"
                            type="text" [(ngModel)]="intervencion.DireccionCallePrincial">
                        </div>
                        <label for="nombre" class="col-form-label col-sm-2">Días a la semana que labora </label>
                        <div class="col-sm-2">
                            <input class="form-control" name="DiasLaborales"
                            type="number" [(ngModel)]="intervencion.DiasLaborales">
                        </div>
                    </div>   
                    <br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">No. Horas que labora</label>
                        <div class="col-sm-2">
                            <select class="form-select"  name="HorasLaborales"  [(ngModel)]="intervencion.HorasLaborales">
                                <option value="1 a 2 Hrs" >1 a 2 Hrs</option>
                                <option value="2 a 3 Hrs" >2 a 3 Hrs</option>
                                <option value="3 a 4 Hrs" >3 a 4 Hrs</option>
                                <option value="4 a 5 Hrs" >4 a 5 Hrs</option>
                                <option value="5 a 6 Hrs" >5 a 6 Hrs</option>
                                <option value="6 a 7 Hrs" >6 a 7 Hrs</option>
                                <option value="mas de 7 Hrs" >mas de 7 Hrs</option>
                            </select>
                        </div>
                        <label class="col-form-label col-sm-2">Ingresos diarios</label>
                        <div class="col-sm-3">
                            <select class="form-select"  name="IngresosDiariosLaboral"  [(ngModel)]="intervencion.IngresosDiariosLaboral">
                                <option value="Hasta $5" >Hasta $5</option>
                                <option value="De $6 Hasta $10" >De $6 Hasta $10</option>
                                <option value="De $11 Hasta $20" >De $11 Hasta $20</option>
                                <option value="De $21 Hasta $40" >De $21 Hasta $40</option>
                                <option value="De $41 Hasta $60" >De $41 Hasta $60</option>
                                <option value="De 61 en adelante" >De $61 en adelante</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Tiempo que lleva laborando</label>
                        <div class="col-sm-2">
                            <select class="form-select"  name="TiempoLaboral"  [(ngModel)]="intervencion.TiempoLaboral">
                                <option value="0 a 6 meses" >0 a 6 meses</option>
                                <option value="7 a 12 meses" >7 a 12 meses</option>
                                <option value="13 a 18 meses" >13 a 18 meses</option>
                                <option value="19 a 24 meses" >19 a 24 meses</option>
                                <option value="25 a 36 meses" >25 a 36 meses</option>
                                <option value="Mas de 37 meses" >Mas de 37 meses</option>
                            </select>
                        </div>
                        <label class="col-form-label col-sm-2">¿Con quién realiza la actividad?</label>
                        <div class="col-sm-2">
                            <select class="form-select"  name="GrupoLaboral"  [(ngModel)]="intervencion.GrupoLaboral">
                                <option value="Solo" >Solo</option>
                                <option value="En grupo" >En grupo</option>
                            </select>
                        </div>
                        <label class="col-form-label col-sm-2">No. personas que le acompañan</label>
                        <div class="col-sm-2">
                            <input class="form-control" name="NumGrupoLaboral"
                                type="number" [(ngModel)]="intervencion.NumGrupoLaboral">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Comentarios
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <textarea class="form-control" placeholder="Comentarios" name="Comentarios" [(ngModel)]="intervencion.Comentarios" rows="3"></textarea>
                        </div>
                        
                    </div>   
                </div>
            </div>
        </div>
    </div>
<br>
</form>
</div>