<div class="mt-4"></div>

<div class="row">
    <div class="col-12">
        <div class="row card bg-light text-dark">
            <div class="card-body">
                <div class="form-group row">
                   
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#modalBusqueda" title="Buscar persona existente">Buscar Persona</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modalPersona" title="Crear nueva persona" (click)="pasarObjetosLlenos()">Registrar Persona</button>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" disabled type="text" [value]="nombreCompleto">
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" disabled type="text" [value]="perSelect?.Cedula">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#confirmSaveModal" title="Guardar intervención"><span class="oi oi-box"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmSaveModal" tabindex="-1" aria-labelledby="confirmSaveModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro que desea guardar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="saveIntervencion()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal (se debe clicar el boton de arriba para que se muestre) -->
<app-modal-persona></app-modal-persona>
<app-modal-busqueda></app-modal-busqueda>
<br>

<div class="card bg-light text-dark">
    <div class="card-header">FICHA DE OBSERVARCIÓN Y ABORDAJE
    </div>
</div>
<div class="mt-4"></div>
<form #clienteForm="ngForm">
    <!--FILA 1 -->
    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Información organización cooperante
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Organización Cooperante</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="organizacion" [(ngModel)]="organizacion"
                                aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option [ngValue]="org" *ngFor="let org of listOrganizaciones">{{org.Organizacion}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Zona</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="zona" [value]="organizacion.Zona" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Provincia</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="provincia"
                                [value]="organizacion.provincia.Provincia" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Cantón</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="canton" [value]="organizacion.canton.Canton"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-6">Parroquia</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="arroquia" type="text" [value]="organizacion.parroquia.Parroquia">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Tipo de Organizacion</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" name="TipoOrganizacion"
                                [value]="organizacion.tipo.TipoOrganizacion" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4"></div>
    <div class="card bg-light text-dark">
        <div class="card-header">OBSERVACIÓN</div>
    </div>
    <div class="mt-4"></div>

    <!------------------------------- FILA 2 -------------------->
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Datos de personas observadas
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Sexo</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Se encuentra</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="1">Solo</option>
                                <option value="2">En Grupo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2da columna-->
        <div class="col-sm-6 col-md-4">
            <div class="row card bg-light text-dark">
                <div class="card-header">Grupo etáreo
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Discapacidad</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="notiene">No Tiene</option>
                                <option value="sitiene">Tiene</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Años</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="5-11">05-11 años</option>
                                <option value="5-11">12-14 años</option>
                                <option value="5-11">15-17 años</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3ra columna-->
        <div class="col-md-5 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Topología de la actividad
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-4">Actividad</label>
                        <div class="col-sm-8">
                            <select class="form-select" multiple >
                                <option [ngValue]="act" [value]="act['IDTipoActividad']"
                                    *ngFor="let act of oneList.get('act')">{{act['TipoActividad']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="selectExtra"></div>
                        <div class="col-sm-6">
                            <!--button type="button" (click)="addNuevoSelect()" class="btn btn-secondary">+</button-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------- FILA 3 -------------------->


    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="row card bg-light text-dark">
                <div class="card-header">Fisionomía
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Cabello Color</label>
                        <div class="col-sm-6">
                            <select class="form-select"  name="cabelloColor" [(ngModel)]="perSelect.cabelloColor.IDColorCabello">
                                <option [value]="act['IDColorCabello']"
                                    *ngFor="let act of oneList.get('cac')">{{act['ColorCabello']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Cabello Tipo</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="cabelloTipo" [(ngModel)]="perSelect.cabelloTipo.IDCabelloTipo">
                                <option [value]="act['IDCabelloTipo']"
                                    *ngFor="let act of oneList.get('cat')">{{act['CabelloTipo']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Contextura</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="contextura" [(ngModel)]="perSelect.contextura.IDContextura">
                                <option [value]="act['IDContextura']"
                                    *ngFor="let act of oneList.get('cnt')">{{act['Contextura']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-form-label col-sm-6">Estatura</label>
                        <div class="col-sm-6">
                            <select class="form-select"  name="Estatura" [(ngModel)]="perSelect.estatura.IDEstatura">
                                <option  [value]="act['IDEstatura']"
                                    *ngFor="let act of oneList.get('eta')">{{act['Estatura']}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2da columna-->
        <div class="ccol-sm-6 col-md-4">
            <div class="row card bg-light text-dark">
                <div class="card-header">Riesgos para el facilitador en aplicar el abordaje
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-6">Riesgos</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option disabled selected>-</option>
                                <option value="notiene">Persona Agresiva</option>
                                <option value="sitiene">Presunta víctima de algún delito (trata/explotación u otro)
                                </option>
                                <option value="sitiene">Consumo de alcohol</option>
                                <option value="sitiene">Consumo de drogas</option>
                                <option value="sitiene">Trastornos mentales</option>
                                <option value="sitiene">Otros</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <div class="col-form-label col-sm-12"></div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 3ra columna-->
        <div class="col-sm-6 col-md-5">
            <div class="row card bg-light text-dark">
                <div class="card-header">Derivaciones y acciones
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-3">Acción</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="" cols="30" rows="3"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mt-4"></div>
    <div class="card bg-light text-dark">
        <div class="card-header">ABORDAJE</div>
    </div>
    <div class="mt-4"></div>
    <div class="row">
        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Croquis del lugar donde se observó a la NNA
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d323.1573700370791!2d-79.91192285638078!3d-2.1481906628086134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6d317167f5c5%3A0xaea93d8114bef7c7!2sing%20industrial%20facultad!5e0!3m2!1ses-419!2sec!4v1662021213759!5m2!1ses-419!2sec" 
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row card bg-light text-dark">
                <div class="card-header">Datos del NNA identificado
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Nombres y Apellidos</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" [value]="nombreCompleto">
                        </div>
                        <label class="col-form-label col-sm-3">Doc. identificación</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" [value]="perSelect?.Cedula">
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-1">Sexo</label>
                        <div class="col-sm-2">
                            <select class="form-select"  name="sexo"  [(ngModel)]="perSelect.genero.IDGenero">
                                <option [value]="act['IDGenero']"
                                    *ngFor="let act of oneList.get('gen')">{{act['Genero']}}</option>

                            </select>
                        </div>

                        <label for="nombre" class="col-form-label col-sm-2">Nacionalidad</label>
                        <div class="col-sm-2">
                            <select class="form-select" name="nacionalidad" [(ngModel)]="perSelect.nacionalidad.IDNacionalidad">
                                <option [value]="act['IDNacionalidad']" 
                                    *ngFor="let act of oneList.get('nac')">{{act['Nacionalidad']}}</option>

                            </select>
                        </div>
                        <label class="col-form-label col-sm-2">Estatus migratorio</label>
                        <div class="col-sm-3">
                            <select class="form-select" aria-label="Default select example" >
                                <option disabled selected>-</option>
                                <option value="act"> Pasaporte</option>
                                <option value="act"> Documento de refugio</option>
                                <option value="act"> Visa MERCOSUR</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Fecha de nacimiento</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="fechaNacim"  type="date" pattern="\d{4}-\d{2}-\d{2}"
                            [(ngModel)]="perSelect.FechaNacim">
                        </div>
                        <label class="col-form-label col-sm-3">Edad</label>
                        <div class="col-sm-3">
                            <input class="form-control" readonly type="text" [value]="calcularEdad()">
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Provincia</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="provincia"
                                type="text" [value]="perSelect?.provincia?.Provincia">
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Cantón</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="canton" [value]="perSelect?.canton?.Canton"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Parroquia</label>
                        <div class="col-sm-3">
                            <input disabled class="form-control" name="parroquiaper" type="text" [value]="perSelect?.parroquia?.Parroquia">
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Barrio</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text" >
                        </div>
                    </div>

                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Etnia</label>
                        <div class="col-sm-3">
                            <select class="form-select" name="etnia" [(ngModel)]="perSelect.etnia.IDEtnia">
                                <option [value]="act['IDEtnia']" *ngFor="let act of oneList?.get('etn')">
                                    {{act['Etnia']}}</option>
                            </select>
                        </div>
                        <label for="email" class="col-form-label col-sm-3">Estado Civil</label>
                        <div class="col-sm-3">
                            <select class="form-select" name="estadoCivil" [(ngModel)]="perSelect.estadoCivil.IDEstadoCivil">
                                <option [value]="act['IDEstadoCivil']" 
                                    *ngFor="let act of oneList.get('eci')">{{act['EstadoCivil']}}</option>

                            </select>
                            
                        </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <label for="email" class="col-form-label col-sm-3">Tiene Discapacidad</label>
                        <div class="form-check form-switch col-sm-3">
                            <select  class="form-select" name="discapacidad" [(ngModel)]="perSelect.discapacidad.IDDiscapacidad">
                                <option [ngValue]="act" [value]="act['IDDiscapacidad']"
                                    *ngFor="let act of oneList.get('dis')">{{act['Discapacidad']}}</option>
                            </select>                        </div>
                        <label for="email" class="col-form-label col-sm-3">Nivel Discapacidad</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="text"  name="nivelDiscapacidad" [(ngModel)]="perSelect.DiscapacidadNivel">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>